<a href = "https://picoctf.org/" target = "_blank"> picoctf.org </a> 
<a href = "https://projectstem.org/" target = "_blank"> projectstem.org </a> 
<a href = " https://www.awsacademy.com/LMS_Login/" target = "_blank"> www.awsacademy.com/LMS_Login/ </a> 
<hr />
<div class="block bs00-bg bs07">#3B3228</div>
<div class="block bs01-bg bs07">#534636</div>
<div class="block bs02-bg bs07">#645240</div>
<div class="block bs03-bg bs07">#7e705a</div>
<div class="block bs04-bg bs00">#b8afad</div>
<div class="block bs05-bg bs00">#d0c8c6</div>
<div class="block bs06-bg bs00">#e9e1dd</div>
<div class="block bs07-bg bs00">#f5eeeb</div>
<div class="block bs08-bg bs07">#cb6077</div>
<div class="block bs09-bg bs07">#d28b71</div>
<div class="block bs0A-bg bs07">#f4bc87</div>
<div class="block bs0B-bg bs07">#beb55b</div>
<div class="block bs0C-bg bs07">#7bbda4</div>
<div class="block bs0D-bg bs07">#8ab3b5</div>
<div class="block bs0E-bg bs07">#a89bb9</div>
<div class="block bs0F-bg bs07">#bb9584</div>
<div class="block bsG-bg bsY"> #203731</div>
<div class="block bsY-bg bsG">#ffb612</div>
        
