<h1>
<pre>
https://www.botreetechnologies.com/blog/python-in-cybersecurity/
https://viitorcloud.com/blog/use-of-python-in-cybersecurity/
https://www.pixelcrayons.com/blog/python-for-cybersecurity-why-is-it-better-in-2020/

</pre>
</h1>

