<pre>
<h3>
C/C++	
<a href = "https://www.youtube.com/watch?v=NVjPVfwr8zo"> check for primes cpp </a>

AWSAcademy 
<a href = "https://youtu.be/iP0UtJtH244"> Module 5 Lab : CloudFront </a>
	

	
ProjectStem.org and/or Edhseive.com Videos
projectstem.org was formerly edhesive.com .  Most of the problems are the same.
<hr />
<a href = "https://youtu.be/dcH7fEcg9ZE"> Project Stem Unit 1 Python </a>
<hr />
<a href = "https://youtu.be/JPSsplZlst0"> Project Stem Unit 2 part 1 Python </a>
<a href = "https://youtu.be/izks0L0Psns"> Project Stem Unit 2 part 2 Python </a>
<hr />
<a href = "https://youtu.be/v2R2CJwR93Q"> Project Stem Unit 3 Python </a>
<br />
<a href = "https://youtu.be/ETt9bav7Is8"> Project Stem Unit 4 part 1 Python </a>
<a href = "https://youtu.be/qvCvN3myBl0"> Project Stem Unit 4 part 2 Python </a>
<hr />
<a href = "https://youtu.be/OoGseQiruQQ"> Project Stem Unit 8 part 1 Python </a>
<a href = "https://youtu.be/u6rrzUYwLwk"> Project Stem Unit 8 part 2 Python </a>
<a href = "https://youtu.be/qGqg3pP0gtg"> Project Stem Unit 8 part 3 Python </a>
<a href = "https://youtu.be/YToIcDBvfgc"> Project Stem Unit 8 Personal Organizer </a>
<hr />
<a href = "https://youtu.be/h6Z7oPd-3dw"> Project Stem Unit 9 Part 1 </a>
<a href = "https://youtu.be/rnGwoc60meg"> Project Stem Unit 9 Part 2 </a>


<hr />




</h3>
</pre>
